<ngb-carousel>
    <ng-template ngbSlide>
        <img src="http://lorempixel.com/900/500?r=4" alt="Random first slide">
        <div class="carousel-caption">
            <h3>Curso de Typescript</h3>
            <p>Icono Training</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="http://lorempixel.com/900/500?r=5"  alt="Random second slide">
        <div class="carousel-caption">
            <h3>Introducción a Angular</h3>
            <p>Madrid, Julio 2019.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="http://lorempixel.com/900/500?r=6" alt="Random third slide">
        <div class="carousel-caption">
            <h3>Indra - Minsait</h3>
        </div>
    </ng-template>
</ngb-carousel>
